/*  palette dark
  #FCF7FF - white
  #C4CAD0 - light grey
  #878C8F - grey
  #A4969B - muted pink
  #655560 - dark purple
*/

/* palette light
  #17191e - dark grey
  #2b2c2e - light grey
  #f1eee3 - cream
  #ce9e94 - light pink
  #45143a - dark pink
*/

:root {
  /* colors for light mode */
  --textMain: #17191e;
  --textSub: #2b2c2e;
  --background-start: #f1eee3;
  --background-end: #ce94c0;

  --font-s: .8rem;
  --font-m: 1rem;
  --font-l: 1.2rem;
  --font-xl: 1.6rem;
  --main-width: 80%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* colors for dark mode */
    --textMain: #fbf3ff;
    --textSub: #e3f1ff;
    --background-start: #10010b;
    --background-end: #1e0b0b;
  }
}

/* mobile sizing */
@media (max-width: 768px) {
  :root {
    --font-s: .6rem;
    --font-m: .8rem;
    --font-l: 1rem;
    --font-xl: 1.4rem;
    --main-width: 99%;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}

a {
  color: inherit;
  text-decoration: none;
}
