/*  palette 
  #FCF7FF - white
  #C4CAD0 - light grey
  #878C8F - grey
  #A4969B - muted pink
  #655560 - dark purple
*/

:root {
  /* colors for light mode */
  --textMain: #FCF7FF;
  --textSub: #dbe0e6;
  --background-start: #222324;
  --background-end: #2f2e36;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}

a {
  color: inherit;
  text-decoration: none;
}
