.main {
    justify-content: center;
    align-items: center;
    background-color: var(--background-start);
}

.title {
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--textMain);
    white-space: pre-line;
}

.subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Trebuchet MS, sans-serif;
    color: var(--textSub);
    white-space: pre-line;
}

.description {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Georgia, serif;
    color: var(--textSub);
    white-space: pre-line;
    max-width: 80vw;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    /* linear gradient from transperant to background-end */
    background: var(--background-end);
    border: 1px solid var(--textMain);
}

.viewer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: var(--main-width);
    border-radius: 4px;
}

.resume {
    height: 110vh;
    width: 100vw;
    max-height: 110vh;
    max-width: var(--main-width);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.description a {
    color: #007bff;
}

.bottomSpacer {
    height: 10vh;
}

.topSpacer {
    height: 8vh;
}

.cardList {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: var(--main-width);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cardList li {
    flex: 1 1 0;
    list-style-type: none;
    margin: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-end);
    color: var(--textMain);
    font-size: 1rem;
    font-weight: 400;
    font-family: Georgia, serif;
    padding: 1rem;
    border-top: 1px solid var(--textMain);
}